.container {
  display: flex;
  margin-top: 15px;
}
.left {
  width: 25%;
}
.right {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 6.333%;
  row-gap: 35px;
}

.filter {
  background: #f0f0fc;
  border-radius: 10px;
  left: 0;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
}
.search {
  text-align: center;
}
.searchInput {
  background: #f4f6f8 !important;
  border: 1px solid #7064e5;
  border-radius: 10px;
  box-sizing: border-box;
  color: #7064e5 !important;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
  margin: 1em 0 !important;
  outline: none;
  padding: 12px;
  width: 250px;
}
.purchase {
  background: #7064e5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.2em !important;
  padding: 0.4em !important;
  width: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.purchase:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}
