.container {
  height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form input[type="text"],
.form input[type="password"] {
  background: #f4f6f8;
  border: 1px solid #7064e5;
  border-radius: 10px;
  box-sizing: border-box;
  color: #7064e5;
  font-size: 1.2em;
  padding: 12px 40px;
  line-height: 30px;
}
.heading {
  font-size: 40px;
  font-weight: 700;
}

.button {
  background: #7064e5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.2em !important;
  padding: 0.4em !important;
  width: 100%;
  cursor: pointer;
}
.link {
  display: inline-block;
  margin-top: 10px;
}
